/venv_django/
url_shortner/Shortner/__pycache__/
url_shortner/url_shortner/__pycache__/
Learn/__pycache__/
/.vscode/
ngrok.exe
url_shortner/templatee/__pycache__/urls.cpython-39.pyc
url_shortner/laptop/__pycache__/
url_shortner/automobile/__pycache__/
url_shortner/myarticles/__pycache__/
url_shortner/home/__pycache__/
url_shortner/bookm2m/__pycache__/
url_shortner/membershipm2m/__pycache__/
url_shortner/pics/__pycache__/
url_shortner/forums/__pycache__/
url_shortner/chat/__pycache__/
url_shortner/fav_products/__pycache__/
url_shortner/well/__pycache__/
url_shortner/scripts/__pycache__/
