{% extends "base_bootstrap.html" %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% load static %}
                <img src="{% static 'logo.png' %}" alt="Python" style="width:55%">
            </div>

            <div class="col-6 mt-2 pt-1">
                <h1 class="text-center">
                    <p style="color: orange"><b>Short N'</b><i style="color: green"> Sweet</i></p>
                    <hr class="mt-2 mb-2">
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12 bg-warning">
        <div class="container bg-warning"></div>

        <div class="container bg-warning">
            <div class="row pt-5"></div>
            <div class="row pt-5"></div>
            <div class="row justify-content-center">

                <h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.EnterURL }}
                        <button type="submit" , class="btn btn-success btn-lg text-center">Shorten</button>
                    </form>
                </h2>


                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <br><br>
                    <h5 {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message }} </h5>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-18 bg-warning">
        <div class="container">
            <div class="row pt-5 bg-warning"></div>
            <div class="row pt-5"></div>
        </div>
    </div>

    <div class="container">
        <h3 class="mt-4 text-center">
            <p style="color: green"><b>Made</b><i style="color: orange"> with:</i></p>
        </h3>
        <div class="col-3 text-center"></div>
        <div class="row pt-5"></div>
        <div class="row pt-2">
            <div class="col-sm text-center">
                {% load static %}
                <img src="{% static 'django.png' %}" alt="Django" style="width:30%">
            </div>
            <div class="col-sm text-center">
                {% load static %}
                <img src="{% static 'python.png' %}" alt="Python" style="width:30%">
            </div>
            <div class="col-sm text-center">
                {% load static %}
                <img src="{% static 'bootstrap.png' %}" alt="Bootstrap" style="width:30%">
            </div>
        </div>
    </div>
</div>
{% endblock %}