{% extends "base_bootstrap.html" %}
{% block navbar %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5 text-center">
            <table style="width:90%">
                <tr>
                    <th><a href={% url 'gview:cats' %} style="color: green">Cat</a></th>
                    <th><a href={% url 'gview:dogs' %} style="color: green">Dog</a></th>
                    <th><a href={% url 'gview:horses' %} style="color: green">Horse</a></th>
                    <th><a href={% url 'gview:cars' %} style="color: green">Car</a></th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}