{% extends "base_bootstrap.html" %}
{% block navbar %}
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8 text-center">
      <table style="width:90%">
        <tr>
          <th><a href={% url 'template:game' 200 %} style="color: green">Game</a></th>
          <th><a href={% url 'template:guess' %} style="color: green">Guess</a></th>
          <th><a href={% url 'template:loop' %} style="color: green">Loop</a></th>
          <th><a href={% url 'template:nested_object' %} style="color: green">Nest_obj</a></th>
          <th><a href={% url 'template:special' %} style="color: green">special</a></th>
          <th><a href={% url 'template:templatee' %} style="color: green">TemplateView</a></th>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}