[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
